<div class="container">
  <h5 class="mb-5 mt-3 text-center">Enter your credentials here.</h5>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="row justify-content-center">
      <div class="col-10 col-md-6">
        <div class="d-flex flex-column align-items-center">
          <div class="input-wrapper mb-3">
            <input
              id="username"
              formControlName="username"
              type="text"
              placeholder="Your Username"
              class="input-box"
            />

            <div
              *ngIf="
                form.get('username')?.invalid && form.get('username')?.touched
              "
              class="text-rosso text-center"
            >
              Please enter your username!
            </div>
          </div>

          <div class="input-wrapper mb-3">
            <input
              id="password"
              formControlName="password"
              type="password"
              placeholder="Your Password"
              class="input-box"
            />

            <div
              *ngIf="
                form.get('password')?.invalid && form.get('password')?.touched
              "
              class="text-rosso text-center"
            >
              Please enter your password!
            </div>
          </div>

          <button class="custom-button border-blu m-4">
            <span class="text-blu"> Log In </span>
          </button>

          <ngb-alert
            *ngIf="alertMessage"
            [type]="alertType"
            (close)="clearAlert()"
            [dismissible]="true"
            class="rounded-0"
          >
            {{ alertMessage }}
          </ngb-alert>
        </div>
      </div>
    </div>
  </form>
</div>
