<div class="container">
  <h1 class="display-5 mt-3 mb-5">Registrati</h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <form>
        <input
          type="text"
          class="form-control mb-3 border-black"
          placeholder="Nome"
          name="nome"
          [(ngModel)]="formData.name"
        />
        <input
          type="email"
          class="form-control mb-3 border-black"
          placeholder="Email"
          name="email"
          [(ngModel)]="formData.email"
        />
        <input
          type="password"
          class="form-control mb-3 border-black"
          placeholder="Password"
          name="password"
          [(ngModel)]="formData.password"
        />
        <button (click)="register()" class="btn rounded-5 btn-outline-success">
          Registrati
        </button>
      </form>
    </div>
  </div>
</div>
