<div class="card mx-auto">
  <div class="card-content">
    <div class="card-photo">
      <img
        src="{{
          professional.appUser.profilePicture
            ? professional.appUser.profilePicture
            : 'user.png'
        }}"
        alt="Immagine di profilo"
      />
    </div>
    <div class="card-details mt-3">
      {{ professional.appUser.name }} {{ professional.appUser.surname }}
      <br />
      <span class="">{{ professional.profession?.name }} </span>
    </div>
    <button
      (click)="goToProfessionalPage(professional.appUser.id)"
      class="custom-button button-small border-blu mt-3"
    >
      <span class="text-blu">Profile</span>
    </button>
  </div>
</div>
