.card {
  background-color: #f3ebe2;
  width: 220px;
  height: 300px;
  background: #f3ebe2;
  border: 2px solid #03293a;
  box-shadow: 4px 4px #03293a;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  .card-content {
    transform: translateY(-10px);
    transition: all 0.3s;
  }
}

.card-content {
  transform: translateY(0px);
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-photo {
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.card-details {
  text-align: center;
  color: #03293a;
  font-size: 1rem;
  font-weight: 700;
}

.custom-button,
.custom-button::before,
.custom-button::after {
  background: #f3ebe2;
  border-color: #03293a;
}
