<div class="container">
  <h5 class="mb-5 mt-3 text-center">
    Please insert your informations and get ready to share your story
  </h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-10 col-md-4">
        <div class="mb-3">
          <input
            id="name"
            formControlName="name"
            type="text"
            placeholder="Your Name"
            class="form-control rounded-1 border-secondary bg-background"
          />
          <div
            *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
            class="text-rosso"
          >
            Please enter your name!
          </div>
        </div>
        <div class="mb-3">
          <input
            id="surname"
            formControlName="surname"
            type="text"
            placeholder="Your Surname"
            class="form-control rounded-1 border-secondary bg-background"
          />
          <div
            *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched"
            class="text-rosso"
          >
            Please enter your surname!
          </div>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Your Date of Birth</label>
          <input
            id="dateOfBirth"
            formControlName="dateOfBirth"
            type="date"
            class="form-control rounded-1 border-secondary bg-background"
          />
          <div
            *ngIf="
              form.get('dateOfBirth')?.invalid &&
              form.get('dateOfBirth')?.touched
            "
            class="text-rosso"
          >
            Please enter your date of birth!
          </div>
        </div>
        <div class="mb-3">
          <input
            id="email"
            formControlName="email"
            type="email"
            placeholder="Your E-mail"
            class="form-control rounded-1 border-secondary bg-background"
          />
          <div
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            class="text-rosso"
          >
            Please enter a valid mail!
          </div>
        </div>
        <div class="mb-3">
          <input
            id="username"
            formControlName="username"
            type="text"
            placeholder="Enter a Username"
            class="form-control rounded-1 border-secondary bg-background"
          />
          <div
            *ngIf="
              form.get('username')?.invalid && form.get('username')?.touched
            "
            class="text-rosso"
          >
            Please enter a username!
          </div>
        </div>

        <div class="mb-3">
          <input
            id="password"
            formControlName="password"
            type="password"
            placeholder="Enter a Password"
            class="form-control rounded-1 border-secondary bg-background"
          />
          <div
            *ngIf="
              form.get('password')?.invalid && form.get('password')?.touched
            "
            class="text-rosso"
          >
            Please enter a password!
          </div>
        </div>
        <div class="mb-3">
          <label for="profilePicture" class="form-label"
            >Choose Your Profile Picture</label
          >
          <input
            id="profilePicture"
            type="file"
            (change)="onFileSelected($event)"
            class="form-control rounded-1 border-secondary bg-background"
          />
        </div>
      </div>

      <div class="col-10 col-md-6">
        <div formArrayName="educationalPaths">
          <h5>Your Educational Path</h5>
          <div
            *ngFor="
              let educationalpath of educationalPaths.controls;
              let i = index
            "
            [formGroupName]="i"
            class=""
          >
            <div class="mb-3">
              <select
                id="university-{{ i }}"
                formControlName="universityId"
                class="form-select rounded-1 border-secondary bg-background"
                (change)="onUniversityChange(i)"
              >
                <option value="">Select University</option>
                <option *ngFor="let uni of universities" [value]="uni.id">
                  {{ uni.name }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <select
                id="faculty-{{ i }}"
                formControlName="facultyId"
                class="form-select rounded-1 border-secondary bg-background"
                (change)="onFacultyChange(i)"
              >
                <option value="">Select Faculty</option>
                <option
                  *ngFor="let faculty of facultiesOptions[i]"
                  [value]="faculty.id"
                >
                  {{ faculty.name }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <select
                id="degreeCourse-{{ i }}"
                formControlName="degreeCourseId"
                class="form-select rounded-1 border-secondary bg-background"
              >
                <option value="">Select Degree Course</option>
                <option
                  *ngFor="let course of coursesOptions[i]"
                  [value]="course.id"
                >
                  {{ course.name }}
                </option>
              </select>
            </div>

            <button
              class="mb-3 border-rosso"
              (click)="removeEducationalPath(i)"
            >
              <span class="text-rosso"> Remove Educational Path </span>
            </button>
          </div>
        </div>

        <button class="mb-3 border-blu" (click)="addEducationalPath()">
          <span class="text-blu"> Add Another Educational Path </span>
        </button>

        <div class="mb-3">
          <select
            class="form-select rounded-1 border-secondary bg-background"
            (change)="onSectorChange($event)"
          >
            <option value="">Select Sector</option>
            <option *ngFor="let sector of sectorsList" [value]="sector.id">
              {{ sector.name }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <select
            id="professionId"
            formControlName="professionId"
            class="form-select rounded-1 border-secondary bg-background"
          >
            <option value="">Select Your Profession</option>
            <option
              *ngFor="let profession of professionsList"
              [value]="profession.id"
            >
              {{ profession.name }}
            </option>
          </select>
        </div>
        <button class="border-blu">
          <span class="text-blu"> Register </span>
        </button>
      </div>
    </div>
  </form>
</div>

<ngb-alert
  *ngIf="alertMessage"
  [type]="alertType"
  (close)="clearAlert()"
  [dismissible]="true"
>
  {{ alertMessage }}
</ngb-alert>
