img {
  max-width: 350px;
}

@media (max-width: 768px) {
  .internal-container {
    height: 100%;
    min-height: 32vh;
  }

  .blob {
    background-image: url(/blob.png);
    background-size: 330px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media (min-width: 768px) {
  img {
    bottom: 0;
    position: sticky;
  }

  .internal-container {
    height: 100%;
    min-height: 92vh;
  }

  .internal-container > div {
    position: relative;
    i {
      position: absolute;
      top: -20px;
      right: 0px;
    }
  }

  .second-row {
    height: 100%;
    min-height: 40vh;
    align-items: center;
  }

  .blob {
    background-image: url(/blob.png);
    background-size: 304px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media (min-width: 996px) {
  .blob {
    background-image: url(/blob.png);
    background-size: 405px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media (min-width: 1200px) {
  .blob {
    background-image: url(/blob.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media (max-width: 996px) {
  img {
    max-width: 250px;
  }
}
