@media (min-width: 768px) {
  img {
    max-width: 350px;
    bottom: 0;
    position: sticky;
  }

  .internal-container {
    height: 100%;
    min-height: 92vh;
  }

  .internal-container > div {
    position: relative;
    i {
      position: absolute;
      top: -20px;
      right: 0px;
    }
  }

  .second-row {
    height: 100%;
    min-height: 40vh;
    align-items: center;
  }
}

@media (max-width: 996px) {
  img {
    max-width: 250px;
  }
}
