<div class="container">
  <div class="row">
    <div *ngIf="!editingPhoto" class="col-10 col-md-5 mx-auto mt-5 mt-md-0">
      <div class="d-flex align-items-end internal-container">
        <div class="mx-auto">
          <img [src]="student.profilePicture" />
        </div>
        <div *ngIf="!editingPhoto">
          <button
            class="border-0 bg-background rounded-0"
            (click)="editingPhoto = true"
          >
            <i class="bi bi-file-image text-blu"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="editingPhoto" class="col-10 col-md-5 mx-auto mt-5 my-md-0">
      <div class="d-flex flex-column internal-container justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex align-items-center">
            <label for="profilePicture" class="form-lable me-2"
              >Profile Picture</label
            >
            <input
              id="profilePicture"
              type="file"
              (change)="onFileSelected($event)"
              class="hidden-input"
            />
            <button class="custom-button border-blu">
              <label class="text-blu" for="profilePicture">Choose it</label>
            </button>
          </div>
          <span *ngIf="fileName">{{ fileName }}</span>
        </div>
        <div class="d-flex mt-3 justify-content-center">
          <button
            (click)="handleProfilePicture()"
            [ngClass]="{
              'custom-button': true,
              'button-small': true,
              'border-blu': profilePicture,
              'border-rosso': !profilePicture,
              'me-3': true
            }"
          >
            <span
              [ngClass]="{
                'text-blu': profilePicture,
                'text-rosso': !profilePicture
              }"
            >
              {{ profilePicture ? "Save" : "Delete" }}
            </span>
          </button>
          <button
            (click)="cancelPhotoEdit()"
            class="custom-button button-small border-blu"
          >
            <span class="text-blu">Cancel</span>
          </button>
        </div>
      </div>
    </div>

    <div
      class="col-10 col-md-7 mt-5 mt-md-0 d-flex flex-column justify-content-center mx-auto"
    >
      <div *ngIf="!editingDetails" class="mx-md-auto">
        <div class="d-flex flex-column justify-content-center mb-2">
          <h6>NAME &nbsp;</h6>
          <h6 class="fw-light">{{ student.name }}</h6>
        </div>
        <div class="d-flex flex-column justify-content-center mb-2">
          <h6>SURNAME &nbsp;</h6>
          <h6 class="fw-light">{{ student.surname }}</h6>
        </div>
        <div class="d-flex flex-column justify-content-center mb-2">
          <h6>E-MAIL &nbsp;</h6>
          <h6 class="fw-light">{{ student.email }}</h6>
        </div>
        <div class="d-flex flex-column justify-content-center mb-2">
          <h6>DATE OF BIRTH &nbsp;</h6>
          <h6 class="fw-light">{{ student.dateOfBirth }}</h6>
        </div>

        <button
          (click)="editingDetails = true"
          class="custom-button button-small border-blu"
        >
          <span class="text-blu">Edit</span>
        </button>
      </div>
      <div *ngIf="editingDetails" class="mx-auto">
        <form [formGroup]="detailsForm" (ngSubmit)="saveDetails()">
          <div class="input-wrapper mb-3">
            <input
              id="name"
              formControlName="name"
              type="text"
              placeholder="Your Name"
              class="input-box"
            />
          </div>
          <div class="input-wrapper mb-3">
            <input
              id="surname"
              formControlName="surname"
              type="text"
              placeholder="Your Surname"
              class="input-box"
            />
          </div>
          <div class="input-wrapper mb-3">
            <label for="dateOfBirth" class="form-label"
              >Your Date of Birth</label
            >
            <input
              id="dateOfBirth"
              formControlName="dateOfBirth"
              type="date"
              class="input-box"
            />
          </div>
          <div class="input-wrapper mb-3">
            <input
              id="email"
              formControlName="email"
              type="email"
              placeholder="Your E-mail"
              class="input-box"
            />
          </div>
          <div class="input-wrapper mb-3">
            <input
              id="username"
              formControlName="username"
              type="text"
              placeholder="Your Username"
              class="input-box"
            />
          </div>
          <div class="input-wrapper mb-3">
            <input
              id="password"
              formControlName="password"
              type="password"
              placeholder="Your Password"
              class="input-box"
            />
          </div>
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="custom-button button-small border-blu me-2"
            >
              <span class="text-blu">Save</span>
            </button>
            <button
              type="button"
              (click)="cancelDetailsEdit()"
              class="custom-button button-small border-blu"
            >
              <span class="text-blu">Cancel</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-10 col-md-5 d-flex flex-column mx-auto">
      <div *ngIf="!editingSectorsOfInterest" class="d-flex flex-column mb-3">
        <h6>SECTORS OF INTEREST &nbsp;</h6>
        <h6 class="fw-light" *ngFor="let interest of sectorsOfInterest">
          {{ interest.name }}&nbsp;
        </h6>
        <button
          (click)="editingSectorsOfInterest = true"
          class="custom-button button-small border-blu mt-2"
        >
          <span class="text-blu">Edit </span>
        </button>
      </div>
      <div *ngIf="editingSectorsOfInterest">
        <form
          [formGroup]="sectorsOfInterestForm"
          (ngSubmit)="saveSectorsOfInterest()"
          class="d-flex flex-column"
        >
          <div class="input-wrapper">
            <select
              class="input-box bg-background"
              formControlName="sectorsOfInterestId"
              (change)="onSectorSelected($event)"
            >
              <option value="">Select Your Interests</option>
              <option *ngFor="let sector of sectorsList" [value]="sector.id">
                {{ sector.name }}
              </option>
            </select>

            <div class="my-2 d-flex justify-content-center flex-wrap">
              <ng-container *ngFor="let sectorId of selectedSectors">
                <span class="badge text-blu bg-verde me-2 mt-2 pb-2">
                  {{ getSectorNameById(sectorId) }}
                  <button
                    type="button"
                    class="btn-close btn-close-dark btn-sm ms-1"
                    (click)="removeSector(sectorId)"
                  ></button>
                </span>
              </ng-container>
            </div>
          </div>
          <div class="d-flex">
            <button
              type="submit"
              class="custom-button button-small border-blu me-2"
            >
              <span class="text-blu">Save</span>
            </button>
            <button
              type="button"
              (click)="cancelSectorsEdit()"
              class="custom-button button-small border-blu"
            >
              <span class="text-blu">Cancel</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-10 col-md-7 mt-3 mt-md-0 d-flex mx-auto">
      <div class="mx-md-auto">
        <button
          type="button"
          (click)="deleteStudent()"
          class="custom-button button-large border-rosso"
        >
          <span class="text-rosso">Delete Account</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="toastMessage"
  class="toast-container shadow-lg position-fixed top-0 end-0 m-3"
>
  <div
    class="toast show rounded-0 border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header bg-background rounded-0 border-0">
      @if (response) {
      <strong class="me-auto">Account deleted!</strong>

      }
      <small class="text-dark">now</small>
      <button
        (click)="clearToast()"
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>

    <div
      [ngClass]="response ? 'bg-verde text-dark' : 'bg-rosso text-white'"
      class="toast-body rounded-0 border-0"
    >
      {{ toastMessage }}
    </div>
  </div>
</div>
